h1{
    font-family: 'Poppins', sans-serif;
    font-size: 65px;

}
h2{
    font-size: 40px;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px 0px;

}
.middle-text{
    text-align: center;
    padding-top: 120px;
}
.link-button{
    text-decoration: none;
    color: aliceblue;
    padding: 10px 17px;
    background-color: tomato;
    border-radius: 8px;
    font-size: 20px;
    border: none;
}
.padding-bottom{
    padding-bottom: 30px;
}
#banner-item{
    color: white;
    background-image: url(images/donation5-edited.png);
    background-repeat: no-repeat;
    background-size: 1800px 700px;
    height: 800px;

}
.amount-id{
    color: rgb(104, 103, 103);
    font-size: 30px;
    background-color: rgb(243, 240, 240);
    width:90px;
    padding: 30px 30px;
    margin: 10px 10px;
}

#donate-today{
    display: flex;
    margin-left: 25%;
    margin-right: auto;
    width: 60%

}
.align-center{
    text-align: center;
}
p{
    color: rgb(118, 114, 114);
}
#donate-tk{
    color: tomato;
    border: 3px solid tomato;
    border-radius: 5px;
}
.gray-color{
    color: gray;
}
#donate-plan{
    display: flex;
    margin-left: 5%;
}
.donate-plan-box{
    width:28%;
    padding: 20px;
    margin-left:20px;
    border-radius: 5px;

}
#donate-plan-box-one{
    background-color: rgb(202, 235, 223);

}
#donate-plan-box-two{
    background-color: rgb(175, 246, 182);
}
#donate-plan-box-three{
    background-color: rgb(232, 190, 182);
}
#donate-today-sec{
    background-color: rgb(251, 247, 247);
    height: 550px;
    box-shadow: 30px 10px 30px rgb(241, 129, 112);
    

}
.padding-top{
    padding-top: 30px;
}
#get-updates{
    width: 40%;
    margin: 0 auto;
}
#last-form{
    width: 40%;
    height: 100px;
    background-color: antiquewhite;
    text-align: center;
    padding-top: 100px;
    margin: 60px auto;
    
}
#email{
    border:none;
    height: 28px;
    width: 200px;
    background-color: rgb(189, 186, 186);
}
#button{
    border:none;
    height: 30px;
    width: 200px;
    background-color: tomato;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
footer{
    background-color: black;
    text-align: center;
    color: gainsboro;
    height: 140px;
    padding-top: 25px;
}
#footer-heading{
    color: tomato;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}